PyQt6>=6.5
easyocr>=1.7
einops
eva-decord
google-generativeai
matplotlib
numpy
opencv-python>=4.8
pandas
pillow>=10.0
pyqtgraph
python-dotenv
pyyaml
scikit-image
scikit-learn
scipy
tensorboardX
timm==0.4.12
torch>=2.0
torchvision
transformers>=4.36
ultralytics>=8.0
reportlab>=4.0.0
